# Cấu hình Server
PORT=3000

# Cấu hình Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_password
DB_NAME=hospital_db

# Google Gemini API Key
GEMINI_MODEL=gemini-2.5-flash
GEMINI_API_KEY=your_api_key

GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password

# auth
JWT_SECRET=your_secret